/* font family */
* {
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
  }
body{
    max-width: 100%;
    overflow-x: hidden;
}
/* navbar */
.navbar{
	padding-top: 25px; 
	background-color: #F1F3FF;
}
#offcanvasRight{
    width: 250px;
}
#subnav{
	background-color: #F1F3FF; 
	margin-right: 0px;
}
#subnav-text{
	margin-left: 110px; 
	padding-right: 10px;
}
#mobil{
	padding: 30px 0 0 0;
}

/* button register */
.btn-success {
	padding: 8px 12px 8px 12px;
	border-radius: 2px;
	border: 0;
	font-size: 14px;
	font-weight: 700;
}
.button-signup {
	margin-left: 32px;
} 
.navbar .navbar-nav .nav-link {
	padding-left: 32px;
	font-weight: 400;
}

/* main section */
.main-section h1 {
	font-size: 36px;
	font-weight: bold;
}

/* ourservices */
.ourservices{
	padding-top: 136px;
}
.ourservices h1 {
	font-weight: bold;
	padding-bottom: 24px;
}
.ourservices p {
	padding-bottom: 16px;
}
table{
	height: 200px;
}
.checklist{
	padding-left: 20px;
}

/* whyus */
#whyus {
	padding-top: 136px;
}
.card-img-top{
	width: 70px; 
	padding: 15px;
}
.card-title{
  font-size: 16px;
}
.card-text{
  font-size: 14px;
}

/* testimonial */
#testimonial {
	padding: 136px 0 0 0;
}
.owl-carousel {
	overflow: hidden;
}
.owl-carousel .owl-item img {
	width: auto;
}  
.owl-nav {
	margin: 24px 0 0;
	text-align: center;
}  
.owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
	margin: 0 20px;
	height: 32px;
	width: 32px;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 50px;
} 
.owl-carousel .owl-nav button.owl-next:hover,
  .owl-carousel .owl-nav button.owl-prev:hover {
	background: #5CB85F;
	border: none;
}  
.bg-testimonial {
    overflow: hidden;
    position: relative;
    background-color: #F1F3FF;
    width: 100%;
    height: 270px;
    border-radius: 8px;
}  
.img-testimonial{
    margin: 30px;
    width: 80px !important;
    height: 80px !important;
}
.title {
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
} 
.testi-text {
    margin-top: 10px;
    font-size: 14px;
}  
.testi-user {
    font-weight: 700;
    font-size: 14px;
}

/* getting started */
.getting-started {
	height: 326px;
	border-radius: 13px;
}

/* faq */
#faq{
	padding-top: 136px;
	margin-top: 100px;
	margin-bottom: 150px; 
}
#card-testi {
    background-color: #F1F3FF;
    border-radius: 5px;
}
#img-testi {
    margin-top: 15px;
}

/* tablet dan mobile */
@media screen and (max-width: 820px) {
	#gambar {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	} 
    #whyus h2 {
		text-align: center;
		font-weight: bold;
	}
    .whyus1 {
        text-align: center;
	}
	#faq h2 {
		text-align: center;
		font-weight: bold;
	}
	.faq1 {
		text-align: center;
	}
	#subnav-text {
		margin-left: 15px;
	}
	#subnav-text h1{
		font-size: 30px;
	}
	#mobil{
		width: 85%;
		margin-left: auto;
	}
	#subnav {
		margin-right: -12px;
	}
	.navbar {
		margin-right: -12px;
	}
	.offcanvas-body {
		padding-left: 0px;
	}
	.button-signup {
		padding-top: 12px;
	}
	#testimonial .title-2 {
		font-weight: bold;
	}
}

@media screen and (max-width: 414px) {
    .owl-carousel{
        margin-left: auto;
        margin-right: auto;
        width: 370px;
    }
	#subnav {
		margin-right: -10px;
	}
	.navbar {
		margin-right: -10px;
	}
	.img-testimonial {
        width: 70px !important;
        height: 70px !important;
    }
    .testi-card{
        height: 320px !important;
        margin-left: 20px !important;
    }
    .user-img {
        object-position: 50px 30px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
    .desc-card{
        margin-top: 100px;
        margin-left: auto;
        margin-right: 10px;
        padding: 27px;
    }
    .bg-testimonial{
        width: 90%;
        height: 270px;
        overflow: hidden;
        position: relative;
        height: 270px;
        border-radius: 8px;
        overflow: hidden;
    }
    .star-img {
        width: 88px !important;
        height: 21px !important;
        margin-left: auto;
        margin-right: auto;
    }
}

/* cari mobil */
.search {
  margin-top: -40px;
  width: 1118px;
  height: 106px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: relative;
}
  
.search .form-label {
	font-family: "Rubik", sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #3c3c3c;
}

.search .form-control {
	font-weight: lighter;
	font-size: 12px;
	line-height: 18px;
}

.search .form-select option {
	margin: 10px 10px;
}

.search .btn-search {
	background: #5cb85f;
	border-radius: 2px;
	margin-top: 25px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
}

.search .input-group .customsearchimg{
	background-color: transparent;
	border-left: 0;
}

.search .customsearchgroup{
	border-right: 0;
	height: 38px;
}

.search .input-group .customsearchimg{
	background-color: transparent;
	border-left: 0;
}

.search select:hover {
	background-color: transparent;
}
  
.search .placeholder {
	background-color: transparent;
}

.gj-dropdown-bootstrap-4 [role="presenter"] {
	background-color: transparent;
}

.gj-dropdown-bootstrap-4 [role="presenter"] [role="display"] {
	font-size: 12px;
}

ul.gj-list-bootstrap li [data-role="display"] {
	font-size: 12px;
}

.btn-outline-secondary:hover {
	color: #6c757d;
	border-color: #5CB85F !important;
}

.btn-outline-secondary:focus {
	box-shadow: 0 0 0 0.3rem rgb(201 231 202 / 50%);
}

.list-group-item{
	border: none;
}

ul.gj-list-bootstrap {
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
}

.list-group-item.active {
	color: black;
	background-color: #C9E7CA;
	border-color: transparent;
}

.search .gj-dropdown {
	width: 200px;
}

.gj-dropdown-bootstrap-4 [role=presenter] {
	width: 200px;
}

.search .gj-datepicker .datepicker {
	border-right: 0;
}

.search .gj-datepicker .input-group-append .btn {
	padding-right: 10px;
	padding-bottom: 10px;
	width: max-content;
	border-left: none;
	border-radius: 0;
}

/* tampil mobil */

.cars .card-cars{
	width: 333px;
	height: 586px;
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	padding: 24px;
}  
  
.cars .card-cars .cars-img{
	width: 100%;
	height: 15vw;
	border-radius: 2px;
	object-fit: cover;
	margin-bottom: 40px;
}

.cars .card-cars h5{
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.cars .card-cars h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.cars .card-cars p {
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.cars .card-cars .spec-cars-detail{
	margin-bottom: 24px;
}

.cars .card-cars .spec-cars-detail .spec-detail{
	margin-bottom: 16px;
}

.cars .card-cars .spec-cars-detail .spec-detail .spec-img{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.cars .card-cars .choose-cars .btn-choose-cars{
	width: 285px;
	height: 48px;
	background: #5CB85F;
	border-radius: 3px;
}

.cars .card-cars .choose-cars .btn-choose-cars:hover {
	background-color: #439b46;
}

.cars .card-cars .choose-cars .btn-choose-cars a {
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
}